*{
    margin: 0px;
}
.selections{
    color:azure;
    font-size: 25px;
    font-family :fantasy;
    width: 100%;
    position: fixed;
    letter-spacing: 3px;
    margin-bottom: 0;
    text-align: center;

}
.selection:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    cursor: pointer;
    text-shadow: 1px 1px;
}
.selection:active{
    cursor: wait;
}
.board{
    min-height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-imagine{
    position:absolute;
    left: 0px;
    top:0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
.background-title{
    display: flex;
    align-items: flex-start;
    float: center;
    object-fit: cover;
    max-width: 50%;
    width: 495px;
    margin-top: 25px;
    margin-left: 25px;
}
.mediapic{
    width: 2.5%;
    height: 2.5%;
    cursor: pointer;
}
.hide{
	display: none;
}
.gamestart{
    color:azure;
    font-size: 25px;
    font-family :fantasy, sans-serif;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    text-align: center;
    position:relative;
    letter-spacing: 5px;
}
.storyplay{
    color:azure;
    font-size: 25px;
    font-family :fantasy, sans-serif;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    text-align: center;
    position:relative;
    letter-spacing: 5px;
}
.firstvideo{
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: -1000;
}
video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 80%;
    min-height: 80%;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.nextstyle{
    font-size: 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    left: 90%;
    top: 83%;
    position: absolute;
}
#image2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: -1;
}
.content{
    height: 80vh;
    width: 100%;
}
.topic{
    color:azure;
    font-size: 38px;
    font-family :fantasy,monospace;
    width: 100%;
    position: relative;
    letter-spacing: 3px;
    margin-bottom: 0;
    margin-top: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.277);
}
.yesNo{
    height: 30%;
    display: flex;
    position: relative;
    font-size: 25px;
    color:antiquewhite;
    justify-content: center;
    align-items: center;
    font-family :fantasy,monospace;
    overflow-wrap: break-word;
}
.choose{
    padding: 40px;
}
.choose:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    cursor: pointer;
    text-shadow: 1px 1px;
}
.choose:active{
    cursor: wait;
}
.telling{
    color:azure;
    font-size: 35px;
    font-family :fantasy,monospace;
    width: 100%;
    position: relative;
    letter-spacing: 3px;
    margin-bottom: 0;
    margin-top: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.277);
}
.storySkip{
    height: 70%;
    width: 80%;
    margin-block: 5%;
    margin-inline: auto;
    display: flex;
    font-size: 28px;
    color:antiquewhite;
    justify-content: center;
    align-items: center;
    font-family :fantasy,monospace;
    background-color: rgba(0, 0, 0, 0.452);
    overflow-wrap: break-word;
}
@media (max-width:700px){
    .selections {
        font-size: 23px;
        width: 100%;
        letter-spacing: 2px;
    }
    .board{
        min-height: 60vh;
        width: 100%;
    }
    .background-title{
        max-width: 65%;
        width: 350px;
        margin-top: 25px;
        margin-left: 25px;
    }
    .mediapic{
        width: 8%;
        height: 8%;
    }
    .gamestart{
        font-size: 20px;
        width: 100%;
    }
    .firstvideo{
        position: relative;
        width: 85%;
        overflow: hidden;
        z-index: -1000;
    }
    video {
        min-width: 75%;
        min-height: 75%;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .topic{
        color:azure;
        font-size: 22px;
        margin-top: 10px;
    }
    .yesNo{
        height: 40%;
        display: flex;
        position: relative;
        font-size: 20px;
        line-height: 20px;

    }
    .choose{
        padding: 35px;
    }
    .storySkip{
        height: 60%;
        width: 75%;
        margin-block: 15%;
        font-size: 20px;
        line-height: 22px;
    }
} 